@font-face {
    font-family: "CozetteVector";
    src: url("../fonts/CozetteVector.ttf");
}

:root {
    --font: "CozetteVector";
    --background: #0C1014;
    --foreground: #98d1ce;
    --blue: #195465;
    --brightblue: #597a90;
    --green: #26a98b;
    --orange: #d26939;
    --branch: 1px solid #599caa;
}

html {
    font-size: 18px;
    font-family: var(--font);
}

body {
    background: var(--background);
    display: flex;
    flex-direction: column;
}

.social__link {
    text-decoration: none;
    color: var(--foreground);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.greeting {
    margin-top: 20%;
}

.greeting__title {
    text-align: center;
    font-size: 28px;
    color: var(--brightblue);
}

.information {
    text-align: center;
    font-size: 18px;
    color: var(--blue);
}

.information__email {
    color: var(--green);

}

.social__wrapper {
    list-style: none;
    text-align: left;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 150px;
    margin: auto;
}


.social {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social__list {
    font-size: 18px;
    color: var(--foreground);
    position: relative;
}


.social__link:focus,
.social__link:active,
.social__link:hover {
    color: var(--background);
    background: var(--orange);
}

@media (min-width: 640px) {
    .greeting__title {
        font-size: 28px;
    }

    .social__list {
        font-size: 18px;
    }

}

@media (min-width: 940px) {
    .greeting__title {
        font-size: 28px;
    }

    .social__wrapper {
        width: 640px;
        flex-direction: row; 
        justify-content: space-evenly;
    }

    .social__list {
        font-size: 18px;
    }

    .greeting {
        margin-top: 15%;
    }
    
}
